/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Feb-2014, 14:45:55
    Author     : nikos
*/



#header{
   /* IE10 Consumer Preview */
background-image: -ms-radial-gradient(right bottom, ellipse closest-side, #600000 0%, #600000 100%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(right bottom, ellipse closest-side, #600000 0%, #600000 100%);

/* Opera */
background-image: -o-radial-gradient(right bottom, ellipse closest-side, #600000 0%, #600000 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 0, color-stop(0, #600000), color-stop(1, #600000));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(right bottom, ellipse closest-side, #600000 0%, #600000 100%);

/* W3C Markup, IE10 Release Preview */
background-image: radial-gradient(ellipse closest-side at right bottom, #600000 0%, #600000 100%);
    
    
}

#cys{
     margin-left: 12%;
    width: auto;
}

#insert{
    width: auto;//48%;
    float: right;
    padding-top: 0.4%;
    
    
}

#see{
    float: right;
    width:auto;//40%;
    
}

#logout{
    float:left;
    width:auto;//50%;
}
#button{

}

@media only screen and (max-width: 1200px) {
    #cys{
       
        width:auto;
        margin-left: 14%;
    }
    #insert{
        width:auto;// 62%;
    }
}

@media only screen and (max-width: 1000px) {
    #cys{
    width:auto;
        margin-left: 14%;
    }
    #insert{
        width:auto;// 76%;
    }
    
    #logout,#see{
        display: block;
    }
    

}
@media only screen and (max-width: 770px) {
    #see{
        float: none;
    }
}
@media only screen and (max-width: 570px) {
    #insert{
        float: none;
    }
    #cys,#logout,#see{
        display: block;
        float: none;
    }

}
@media only screen and (max-width: 480px) {
    blody{
        
        
    }
    #logout,#see{
        width: 100%;
        display: block;
        
    }
    
    
}


body {
 position: relative;
 height : auto;
 padding-bottom: 3%;
min-width:900px;
background-image:url('images/elf2.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
 
}


#wel,#info{
     font-family:"Comic Sans MS", cursive, sans-serif;
}



